<mat-card>
    <mat-form-field>
    <mat-label>Select Sub-Group</mat-label>
    <mat-select [(ngModel)]="newHouse.subGroup">
        <mat-option *ngFor="let subGroup of subGroups" [value]="subGroup">
            {{subGroup}}
        </mat-option>
    </mat-select>
        <input matInput placeholder="Sub Group" #subGroup/>
    </mat-form-field><br/>
    <div *ngFor="let item of inputDetails; let i = index">
        <mat-form-field>
            <textarea matInput placeholder="{{item}}" [(ngModel)]="newHouse[item]"></textarea>
        </mat-form-field>
        <br/>
    </div>
    <input id="input-file-id" type="file" accept="image/png, image/jpeg" (change)="onChange($event)"/>
    <br/><br/>
    <div *ngFor="let person of newHouse.persons; let i = index">
        <mat-card-title>Person {{i+1}}</mat-card-title>
        <br/>
        <div *ngFor="let item of personDetails; let j = index">
            <mat-form-field>
                <textarea matInput placeholder="{{item}}" [(ngModel)]="newHouse.persons[i][item]"></textarea>
            </mat-form-field>
            <br/>
        </div>
    </div>
    <button mat-raised-button (click)="addPerson()">Add Person</button>
    <button mat-raised-button (click)="addHouse()">Add House</button>
</mat-card>